<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amz.dao.BookDAO">
    <!-- findAll -->
    <select id="findAll" resultType="Book">
        select ISBN,name,author,pubDate,stock,cost from t_repo
    </select>

    <select id="findOne" parameterType="Book" resultType="Book">
        select ISBN,name,author,pubDate,stock,cost from t_repo where ISBN=#{ISBN}
    </select>

    <insert id="save" parameterType="Book">
        insert into t_repo values(#{ISBN},#{name},#{author},#{pubDate},#{stock},#{cost})
    </insert>

    <update id="update" parameterType="Book">
        UPDATE t_repo SET stock=#{stock}+stock,cost=#{cost} WHERE ISBN=#{ISBN}
    </update>

    <update id="updateByCart" parameterType="Book">
        UPDATE t_repo SET stock=stock-#{stock} WHERE ISBN=#{ISBN}
    </update>
<!-- 
    登录的方法
    <select id="ByUsernameAndPassword" resultType="User">
        select id,username,realname,password,sex from t_user where username=#{username} and password=#{password}
    </select> -->

</mapper>