<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amz.dao.UserDAO">

    <insert id="save" parameterType="User">
        insert into t_user values(#{id},#{username},#{password},#{admin},1000)
    </insert>

    <select id="findByUsername" resultType="User">
        select id,username,password,admin,asset from t_user where username=#{username}
    </select>

    <update id="order" parameterType="User">
        UPDATE t_user SET asset=#{asset} WHERE id=#{id}
    </update>

</mapper>